@charset "UTF-8";

@font-face {
  font-family: "helene-resume";
  src:url("fonts/helene-resume.eot");
  src:url("fonts/helene-resume.eot?#iefix") format("embedded-opentype"),
    url("fonts/helene-resume.woff") format("woff"),
    url("fonts/helene-resume.ttf") format("truetype"),
    url("fonts/helene-resume.svg#helene-resume") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "helene-resume" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "helene-resume" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-location:before {
  content: "\61";
}
.icon-github:before {
  content: "\62";
}
.icon-codepen:before {
  content: "\63";
}
.icon-linkedin:before {
  content: "\64";
}
.icon-email:before {
  content: "\65";
}
.icon-phone:before {
  content: "\66";
}
.icon-validated:before {
  content: "\76";
}
.icon-blocked:before {
  content: "\6d";
}
.icon-close:before {
  content: "\68";
}
.icon-cooking:before {
  content: "\6c";
}
.icon-music:before {
  content: "\71";
}
.icon-hiking:before {
  content: "\6e";
}
.icon-laptop:before {
  content: "\72";
}
.icon-html:before {
  content: "\69";
}
.icon-css:before {
  content: "\73";
}
.icon-js:before {
  content: "\74";
}
.icon-php:before {
  content: "\6a";
}
.icon-jquery:before {
  content: "\70";
}
.icon-roller:before {
  content: "\75";
}
.icon-work:before {
  content: "\77";
}
.icon-graduate:before {
  content: "\78";
}
.icon-sass:before {
  content: "\79";
}
.icon-travel:before {
  content: "\7a";
}
.icon-download:before {
  content: "\47";
}
.icon-vulcain:before {
  content: "\42";
}
.icon-difference:before {
  content: "\44";
}
.icon-love:before {
  content: "\45";
}
.icon-speedometer:before {
  content: "\67";
}
.icon-wand:before {
  content: "\46";
}
.icon-volleyball:before {
  content: "\48";
}
.icon-responsible:before {
  content: "\49";
}
.icon-award:before {
  content: "\6b";
}
.icon-vue:before {
  content: "\6f";
}
.icon-mysql:before {
  content: "\4a";
}
